@using NavneVelger.Views.Panini

<ul class="nav nav-pills nav-stacked">
    <li class="@ManagePaniniPages.IndexNavClass(ViewContext)"><a asp-action="Index">Hjem</a></li>
    <li class="@ManagePaniniPages.KlistremerkebokNavClass(ViewContext)"><a asp-action="Klistremerkebok">Klistremerkebok</a></li>
    @if (User.IsInRole("Admin"))
    {
        <li class="@ManagePaniniPages.TypeNavClass(ViewContext)"><a asp-action="Type">Bok typer</a></li>
        <li class="@ManagePaniniPages.EierNavClass(ViewContext)"><a asp-action="Eier">Eier</a></li>
    }
</ul>

