@model KlistremerkebokViewModel
@using NavneVelger.Views.Panini
@{
    ViewData["Title"] = "BokInfo";
    ViewData.AddActivePaniniPage(ManagePaniniPages.BokInfo);
}

<h2>Mer info</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBok">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Navn" class="control-label"></label>
                <input asp-for="Navn" class="form-control" />
                <span asp-validation-for="Navn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MerkeString" class="control-label"></label>
                <textarea asp-for="MerkeString" class="form-control" ></textarea>
                <span asp-validation-for="MerkeString" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lagre" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @Html.DisplayFor(x => x.BytteString)
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(x => x.Mangler)
    </div>
</div>

<div>
    <a asp-action="Klistremerkebok">Tilbake</a>
</div>