@model KlistremerkebokViewModel
@using NavneVelger.Views.Panini
@{
    ViewData["Title"] = "LeggTilBok";
    ViewData.AddActivePaniniPage(ManagePaniniPages.LeggTilBok);
}

<h2>Legg til en ny bok</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LeggTilBok">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Navn" class="control-label"></label>
                <input asp-for="Navn" class="form-control" />

                <label asp-for="Aar" class="control-label">År</label>
                <select asp-for="Aar" asp-items="@Model.AarList" class="form-control"></select>
                <label asp-for="EierId" class="control-label"></label>
                <select asp-for="EierId" asp-items="@Model.Eiere" class="form-control"></select>
                <label asp-for="BokTypeId" class="control-label"></label>
                <select asp-for="BokTypeId" asp-items="@Model.BokTyper" class="form-control"></select>
                <label asp-for="TotaltAntallMerker" class="control-label"></label>
                <input asp-for="TotaltAntallMerker" class="form-control" />


            </div>
            <div class="form-group">
                <input type="submit" value="Legg til" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
